/* Font style */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Prata&display=swap');

/* Global styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

html {
    background: url("../image/Magic-Kingdom.webp") no-repeat center center fixed;
    background-size: cover;
}
main{
    display: grid;
    align-self: center;
    grid-gap: 1rem;
    justify-content: center;
}
h2{
    font-size: 2.6rem;
    text-align: center;
    padding: 20px 20px;
    color: #fff9e6;
}
/* header styles*/

header {
    display: grid;
    grid-template-columns: min(150px) auto;
    padding: 0 10px;
}

.header-logo{
    justify-self: center;
    align-self: center;
    
}

h1{
    font-size: 4rem;
    font-family: 'Cinzel', sans-serif;
    color: whitesmoke;
    align-self: center;
    text-align: center;
    /* code for h1 3d effect can be found here: https://codepen.io/designcouch/pen/MWrypV */
    text-shadow:
    1px 1px 0px #5a020e,
    2px 2px 0px #5a020e,
    3px 3px 0px #5a020e,
    4px 4px 0px #5a020e,
    5px 5px 0px #5a020e,
    6px 6px 0px #5a020e,
    7px 7px 0px #5a020e,
    8px 8px 0px #5a020e,
    9px 9px 0px #5a020e,
    10px 10px 0px #5a020e,
    15px 15px 25px rgba(0,0,0,.9);
  	transition: .5s ease-in-out;
    margin-right: 20px;
}

h1:hover {
	left:20px;
  text-shadow:
    -1px 1px 0px #5a020e,
    -2px 2px 0px #5a020e,
    -3px 3px 0px #5a020e,
    -4px 4px 0px #5a020e,
    -5px 5px 0px #5a020e,
    -6px 6px 0px #5a020e,
    -7px 7px 0px #5a020e,
    -8px 8px 0px #5a020e,
    -9px 9px 0px #5a020e,
    -10px 10px 0px #5a020e,
    -15px 15px 25px rgba(0,0,0,.9);
}
.quiz-box {
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px #fff9e6 solid;
    outline: 1px solid #fff9e6;
    outline-offset: -6px;
    max-width: 80%;
    width: 100%;
    justify-self: center;
    align-self: center;
    padding: 10px;
    box-shadow: 5px 5px 100px #fff9e6;
}
.info-bar {
    height: 50px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid #fff9e6;
    text-align: center;
}

i{
    color: #fff9e6;
    font-size: 1.6rem;
}

.level-btn-container,
.quiz-start-content,
.home-btn-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}
.level-btn-container,
.quiz-start-content,
.next-btn-container,
.results-content-container,
.home-btn-container {
    margin-bottom: 20px;
}
.quiz-level-container,
.quiz-start-content,
.question-text,
.results-content-container,
.home-btn-container {
    margin-top: 10px;
}
.level-btn,
.start-button,
.answer-btn,
.next-btn,
.play-again-btn,
.save-button,
.btn {
    padding: 16px;
    margin-top: 12px;
    background-color: #0b0b0b;
    color: #fff9e6;
    font-size: 2rem;
    width: 70%;
    border: 2px #fff9e6 solid;
    outline: 1px dotted #fff9e6;
    outline-offset: -10px;
    font-family: 'Prata', sans-serif;
}
.user-score-container,
.timer-container {
    display: flex;
}

#user-score,
#timer {
    padding-left: 5px;
    font-size: 1.4rem;
}
.level-btn:hover,
.start-button:hover,
.answer-btn-hover:hover,
.next-btn-hover,
.play-again-btn:hover,
.btn:hover {
    background-color: #0b0b0b;
    color: white;
    border: 2px #fff9e6 solid;
    outline: 1px dotted #fff9e6;
    transform: scale(0.9);
    transition: transform 0.2s ease-in;
}
