/* Font style */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Prata&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

/* Global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    color: rgb(246, 239, 239);
    font-family: 'Nova Square', cursive;
}

html {
    background-color: #054f5e;
}

main {
    display: grid;
    margin: auto;
    align-self: center;
    grid-gap: 1rem;
    justify-content: center;
    width: 100%;
}

h2 {
    font-size: 2.6rem;
    text-align: center;
    padding: 20px 20px;
    color: #fcfcfc;
}
/* header styles*/

.logo {
    display: block;
    margin: auto;
    width: 15rem;
    height: 15rem;
    margin-top: 10%;
}

.title {
    font-size: 4rem;
    font-family: 'Cinzel', sans-serif;
    color: whitesmoke;
    margin: initial;
    align-self: center;
    text-align: center;
    /* code for h1 3d effect can be found here: https://codepen.io/designcouch/pen/MWrypV */
    text-shadow: 1px 1px 0px #0f0e0f,
    2px 2px 0px #0f0e0f,
    3px 3px 0px #0f0e0f,
    4px 4px 0px #0f0e0f,
    5px 5px 0px #0f0e0f,
    6px 6px 0px #0f0e0f,
    7px 7px 0px #0f0e0f,
    8px 8px 0px #0f0e0f,
    9px 9px 0px#0f0e0f,
    10px 10px 0px #0f0e0f,
    15px 15px 25px rgba(0,0,0,.9);
    transition: .5s ease-in-out;
}

.title:hover {
    left: 20px;
    text-shadow: -1px 1px 0px #0f0e0f,
    -2px 2px 0px #0f0e0f,
    -3px 3px 0px #0f0e0f,
    -4px 4px 0px #0f0e0f,
    -5px 5px 0px #0f0e0f,
    -6px 6px 0px #0f0e0f,
    -7px 7px 0px #0f0e0f,
    -8px 8px 0px #0f0e0f,
    -9px 9px 0px #0f0e0f,
    -10px 10px 0px #0f0e0f,
    -15px 15px 25px #0f0e0f;
}

h1 {
    font-size: 3rem;
    color: white;
    font-family: 'Cinzel', sans-serif;
}

.container {
    display: block;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: flex;
}

.btn {
    font-size: 2.4rem;
    padding: 1rem 0;
    width: 25rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
    background: #fcfcfc;
    border-radius: 4px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(33, 32, 32, 0.9);
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

i {
    font-size: 2rem;
    margin-left: 1rem;
    cursor: pointer;
    color: #0f0e0f;
}
.fa-volume-up{
    color: white;
}
.audio-icon-button {
    margin: auto;
}
/* game page */

.choice-container {
    display: flex;
    height: 4rem;
    margin-bottom: 0.8rem;
    border-radius: 10px;
    background-color: #0f0e0fbb;
    font-size: 2rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(33, 32, 32, 0.9);
    transform: scale(1.02);
    transition: transform 100ms;
}

.choice-prefix {
    padding: 1.5rem 2rem;
    color: black;
    background-color: rgb(216, 224, 217);
    ;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.container-quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 1rem auto;
}

#game {
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgb(11, 223, 36) 0%, rgb(41,232,111)100%);
}

.incorrect {
    background: linear-gradient(32deg, rgb(229, 14, 14) 0%, rgb(229, 14, 14)100%);
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(236, 241, 237);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 3rem;
}

.hud-item {
    text-align: center;
}

#progressBarFull {
    height: 100%;
    background: rgb(216, 224, 217);
    width: 0%;
}

#question {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-family: 'Nova Square', cursive;
    color: white;
}

.game-title h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.gamepage-btn {
    text-align: center;
    margin-top: 2rem;
}

a {
    text-decoration: none;
    padding: 1rem;
    background-color: #fff;
    color: #0f0e0f;
}

a:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(33, 32, 32, 0.9);
    transition: transform 150ms;
    transform: scale(1.03);
}


/* end page */

.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
    margin: auto;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    color: black;
}

input::placeholder {
    color: black;
}

#username {
    margin-bottom: 3rem;
    width: 80%;
    outline: none;
}

#end-text {
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
}

#saveScorebtn {
    border: none;
}

.btn2 {
    font-size: 2.4rem;
    padding: 1rem 0;
    width: 25rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(14, 13, 13);
    background: linear-gradient(90deg, rgb(244, 239, 240) 0%, rgb(245, 240, 241)100%);
    border-radius: 4px;
    margin-right: 65px;
    margin: 10px auto;
}

.btn2:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(33, 32, 32, 0.9);
    transition: transform 150ms;
    transform: scale(1.03);
}

.container-end {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    padding: 2rem;
    width: 80%;
}

#finalScore {
    text-align: center;
}

/* highscores page */

.container-final {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
    margin: 10rem auto;
}

#highScoresList {
    list-style: none;
    margin-bottom: 4rem;
}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

@media screen and (min-width:375px) {

    .container-quiz {
        width: 90%;
    }

    #progresstext {
        width: 10rem;
        font-size: 1.5rem;
    }

    #progressBar {
        width: 10rem;
    }

    .hud-item {
        font-size: 1.5rem;
    }

    #score {
        font-size: 1.5rem;
    }

    #question {
        text-align: center;
    }
}

@media screen and (min-width:768px) {
    #progresstext {
        width: 20rem;
    }

    #progressBar {
        width: 15rem;
        margin: auto;
        margin-top: 10px;
    }

    .container-quiz {
        width: 70%;
    }
}